name: texture_test
description: Texture test
parent: none
components:
    - position
    - rotation
    - scale
    - world_matrix
    - sprite:
        atlas: textures/test.png
        dimensions: 100, 100
    - scroll_sensitive
    - scroll_scale_control:
        factor: 1.5
